# To push a Docker image to Docker Hub using GitHub Actions, you'll need to create a 
# GitHub workflow YAML file. The workflow will include steps to build the Docker image 
# and push it to Docker Hub. Below is a sample workflow that you can use or modify according to your needs:

# Create GitHub Secrets: Before setting up the workflow, you need to store your Docker Hub 
# credentials securely in GitHub. Go to your GitHub repository, 
# navigate to Settings -> Secrets and variables -> Actions, and add the following secrets:

# DOCKER_USERNAME: Your Docker Hub username.
# DOCKER_PASSWORD: Your Docker Hub password or Personal Access Token (recommended for better security).
# Create a Workflow File: Create a directory named .github/workflows in the root of your 
# GitHub repository if it does not already exist, then create a YAML file, for example, 
# docker-image.yml inside this directory.

# Here is a sample workflow YAML to get you started:

name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Change this to your default branch if it's not 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - id: get-tag
      name: Generate release tag
      run: |
       RELEASE_TAG=$(date --utc +%Y-%m-%dT%H%M)
       echo "tag=$RELEASE_TAG" >> $GITHUB_OUTPUT      

    - name: Build and push Docker image
      run: |-
        docker build -t seunking001/my-nginx:${{ steps.get-tag.outputs.tag}} .
        docker push seunking001/my-nginx:${{ steps.get-tag.outputs.tag}}
   
   
   
   
        # - name: Build and push Docker image
    #   uses: docker/build-push-action@v4
    #   with:
    #     context: .
    #     push: true
    #     tags: yourdockerhubusername/your-repo-name:latest

    # # Optionally you can add more tags
    # #- tags: yourdockerhubusername/your-repo-name:${{ github.sha }}